@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');

body{
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

.navbar{
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 5px;
    background: rgba(0, 0,0, 0.5) !important;
    
}
.navbar-nav li {
    padding: 10px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: 11px;

}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color:#1ebba3;
    font-family: 'Roboto', sans-serif;
}
.home-inner{
    background-image: url(./bg5.jpg)
}

.caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color:white;
    /* text-transform: uppercase; */
    letter-spacing: 8px;
}
.caption h1 {
    font-size: 4vw;
    text-shadow: 2px 2px 15px black;
}
.caption h3{
    font-size: 38px;
    text-shadow: 2px 2px 15px black;
    padding-bottom: 19px;
}

#myName{
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    color: lightgray;
    text-shadow: 1px 1px 10px black;
}


.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
    /*---Firefox Bug Fix --*/
    .carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
            backface-visibility: visible;
    }

    h1 {
        font-size: 1rem;
      }
      
      @include media-breakpoint-up(sm) {
        h1 {
          font-size: 1.2rem;
        }
      }
      
      @include media-breakpoint-up(md) {
        h1 {
          font-size: 1.4rem;
        }
      }
      
      @include media-breakpoint-up(lg) {
        h1 {
          font-size: 1.6rem;
        }
      }